# Global Postgres for auth_service
POSTGRES_DB=auth_db
POSTGRES_USER=auth_user
POSTGRES_PASSWORD=auth_password
POSTGRES_PORT=5433

# Auth service
AUTH_SERVICE_PORT=8011
APP_NAME=Auth Service
DEBUG=false
JWT_SECRET=change-this-secret
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60

# Inside Docker network use host auth_postgres
DATABASE_URL=postgresql+asyncpg://auth_user:auth_password@auth_postgres:5432/auth_db
